*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --roxo: #4700cf;
    --amarelo: #ffb340;
    --preto: #000000;
    --verde: #03a60b;
}

body{
    background-color: var(--branco);
}

/* HEADER */

header{
    width: 100%;
    background-color: #000000;
}

header>div.container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 223px;
}

.container-flex{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo{
    width: 180px;
}

.links{
    display: flex;
    align-items: center;
    gap: 27px;
}

.links a{
    font-size: 25px;
    color: var(--branco);
    text-decoration: none;
}

.links a:hover{
    color: var(--amarelo);
    border-bottom: 2px solid var(--roxo);
}

#icone-barras,
#icone-x,
#menu_botao{

    display: none;
    
}