* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --branco: #fff;
    --roxo: #4700cf;
    --amarelo: #ffb340;
    --preto: #000000;
    --verde: #03a60b;
}

@font-face {
    font-family: "Recursive", sans-serif;
    src: url(./font/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

body {
    background-color: var(--branco);
}

/* HEADER */

header {
    width: 100%;
    background-color: #000000;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 223px;
}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo {
    width: 180px;
}

.links {
    display: flex;
    align-items: center;
    gap: 27px;
}

.links a {
    font-size: 25px;
    color: var(--branco);
    text-decoration: none;
}

.links a:hover {
    color: var(--amarelo);
    border-bottom: 2px solid var(--roxo);
}

#icone-barras,
#icone-x,
#menu_botao {

    display: none;

}

#banner {
    width: 100%;
    height: calc(100vh - 223px);
    object-fit: cover;
}

#motivacao{
    padding-top: 100px;
    display: flex;  
    text-align: left;
    font-size: 40px;

}


.cards-section {
    width: 100%;
    background-color: rgba(212, 177, 177, 0.35);
    padding: 60px 0 120px 0;
    text-align: center;
}

.cards-titulo {
    font-size: 32px;
    font-family: "Recursive",;
    margin-bottom: 40px;
    letter-spacing: 1px;
    color: #2A2A2A;
text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 280px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(6px);
    border-radius: 14px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    overflow: hidden;
    transition: 0.3s ease;
}

.card-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}


.card-texto {
    font-family: "Recursive",;
    font-size: 18px;
    padding: 25px 10px;
    font-weight: bold;
    color: #1f1f1f;
    background-color: rgba(255, 255, 255, 0.65);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}


.sobre-section {
    width: 100%;
    padding: 80px 0 120px 0;
}

.sobre-titulo {
    text-align: center;
    font-size: 32px;
    font-family: "Recursive",;
    letter-spacing: 2px;
    margin-bottom: 60px;
    color: #1a1a1a;
}

.sobre-container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.sobre-texto {
    width: 60%;
}

.sobre-texto p {
    font-family: "Recursive",;
    font-size: 22px;
    line-height: 1.6;
    color: #111;
}

.sobre-img {
    width: 40%;
}

.sobre-img img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 5px 18px rgba(0,0,0,0.35);
    object-fit: cover;
}


.footer {
    background: linear-gradient(180deg, #3B00FF 0%, #6A00FF 50%, #8A00FF 100%);
    padding: 70px 0 100px 0;
    color: white;
    text-align: center;
    font-family: "Recursive",;
}

.footer-titulo {
    font-size: 32px;
    margin-bottom: 60px;
    animation: fadeDown 0.8s ease forwards;
    opacity: 0;
}

.footer-conteudo{
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: left;
}

.conteudo-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    cursor: pointer;
 
}

.conteudo-item img {
    width: 45px;
    transition: transform 0.3s ease;
}


.conteudo-item:hover {
    transform: translateX(10px);
}



.footer-centro img {
    width: 160px;
    
}

.footer-right {
    text-align: left;
}

.footer-right h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-right a {
    display: block;
    font-size: 18px;
    color: white;
    margin-bottom: 12px;
    text-decoration: none;
    
}

.footer-right a:hover {
    transform: translateX(8px);
    color: #ffd26a;
}


@keyframes fadeDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 900px) {


    #menu_botao {
        display: block;
        background: none;
        border: none;
        width: 50px;
        cursor: pointer;
        z-index: 999;
    }

    #icone-barras,
    #icone-x {
        width: 45px;
        fill: white;
    }

   
    nav#menu {
        position: absolute;
        top: 223px;
        right: 0;
        background: #000;
        width: 100%;
        flex-direction: column;
        justify-content: center;  
        align-items: center;       
        gap: 35px;
        padding: 50px 0;
        display: none;
        text-align: center;
    }

    nav#menu.ativo {
        display: flex;
    }

    .links a {
        font-size: 30px;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    header > div.container-flex {
        justify-content: space-between;
        height: 140px; 
    }
}
